.quark-hamburger {
    --color: #35495e;

    --accent: #087EA4;

    background: transparent;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 0;

    border: none;

    cursor: pointer;

    &:hover .quark-hamburger__bar {
        background-color: var(--accent);
    }

    .quark-hamburger__bar {
        background-color: var(--color);
        transition: all 0.3s ease;
        transform-origin: center;
    }

    &.quark-hamburger--toggled .quark-hamburger__bar--middle {
        opacity: 0;
    }
}
